---
layout: 
title: 
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

Montreal


<div class="row">
  <div class="column">
    <img src="/images/18595469_1468802156505533_4218208038230235566_o.jpg" alt="Nature" onclick="myFunction(this);">
  </div>
  <div class="column">
    <img src="/images/20746120_1550499511669130_522481489653786699_o.jpg" alt="Snow" onclick="myFunction(this);">
  </div>
  <div class="column">
    <img src="/images/22712539_1614618105257270_2675702741309820318_o.jpg" alt="Mountains" onclick="myFunction(this);">
  </div>
  <div class="column">
    <img src="/images/22712539_1614618105257270_2675702741309820318_o.jpg" alt="Lights" onclick="myFunction(this);">
  </div>
</div>

<!-- The expanding image container -->
<div class="container">
  <!-- Close the image -->
  <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>

  <!-- Expanded image -->
  <img id="expandedImg" style="width:100%">

  <!-- Image text -->
  <div id="imgtext"></div>
</div>



<!--{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}!--> 
